@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
}
.cabecalho {
    margin: 0px 250px;
    display: flex;
    justify-content: space-evenly;
}

header {
    background-color: black;
    border-bottom: 1px solid rgb(177, 115, 0);
}
header img {
    padding: 10px;
    width: 70px;
}

header nav {
    padding-top: 30px;
}

header nav a {
    position: relative;
    margin: 20px;
    color: aliceblue;
    transition: 1s ease-in-out;
}

header nav a:hover {
    color: orange;
    border-bottom: 1px solid orange;
}


.inicio {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 100px 400px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.682);
}

.inicio h1 {
    font-size: 4.5em;
    color: aliceblue;
}

.inicio span {
    color: rgb(177, 115, 0);
}

.inicio p {
    font-size: 1em;
    color: aliceblue;
    max-width: 820px;
    padding-top: 30px;
    text-align: justify;
}


.video {
    top: 0;
    position: fixed;
    z-index: -1;
}

.video video {
    min-height: 100%;
    min-width: 100%;
}

.video div {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.85) 35%, 
        rgba(0, 0, 0, 0.25) 30%, 
        rgba(0, 0, 0, 0.85) 35%);
    backdrop-filter: blur(4px);
}

